<div id="grade-report-cont" class="content">
    <script>
        $(document).ready(function() {
            // Bind click listener to grade summaries button
            $('#grade-summaries-button').click(function() {
                $('#grade-summaries-last-run').html('Running...');
            });
        });
    </script>
    <hr>
    <div id="grade-report">
        <h1>Grade Reports</h1>
        <div id="grade-report-csv" class="card">
            <div class="title-cont">
                Pushing this button will generate a CSV file (for download) with all student grades for all gradeables.
            </div>
            <div class="card-btn-cont">
                <button onclick="location.href='{{ csv_url }}'"
                        class="btn btn-primary key_to_click"
                        tabindex="0"
                >
                    Generate CSV Report
                </button>
            </div>
        </div>
        <hr>
    </div>
</div>
